.navbar-brand {
    background: url('../images/sprites.png');
    display: inline-block;
    width: 130px;
    height: 30px;
    background-position: 0 -380px;
}



.searchIcon {
    background: url(../images/sprites.png);
    height: 20px;
    width: 70px;
    background-repeat: no-repeat;
    background-position: -172px 0px;
    position: relative;
    z-index: 9999;
    display: inline-flex;
    left: -281px;
    top: 39px;
}

#section1 {
    background: url('../images/11-59-25-21_1440x480.jpg');
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

#section1 .bg-light {
    background: none !important;
}

#displayText {
    color: white;
    text-align: center;
    padding-top: 70px;
}

input#search {
    padding: 0px 17px 0px 30px !important;
    position: relative;

}

.dropdown {
    position: absolute;
    right: 15px;
    top: 136px;
}